<ion-header>

  <ion-toolbar color="dark">  
    
    <ion-row>

      <ion-col size="4">
        <ion-icon size="large" name="arrow-back" (click)="goMain()"></ion-icon>
    </ion-col>
    
    <ion-col style="padding-top: 5px;" class="pd-top-15 small" size="4" text-center>
      <h4 style="margin-top: 10px; margin-right: 0px; margin-left: 0px; font-size: 10pt;">PROGRAMAÇÃO</h4>
    </ion-col>

      <ion-col size="4">
      </ion-col>

    </ion-row>
        
  </ion-toolbar>

</ion-header>

<ion-content>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-sexta.PNG"/>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-sabado-01.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-sabado-02.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-sabado-03.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-sabado-04.PNG"/>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-domingo-01.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-domingo-02.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-domingo-03.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-domingo-04.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-domingo-05.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-domingo-06.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-domingo-07.PNG"/>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-01.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-02.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-03.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-04.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-05.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-06.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-07.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-08.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-09.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-segunda-10.PNG"/>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-01.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-02.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-03.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-04.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-05.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-06.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-07.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-08.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-09.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-terca-10.PNG"/>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-01.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-02.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-03.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-04.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-05.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-06.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-07.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-08.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quarta-09.PNG"/>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quinta-01.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quinta-02.PNG"/>
        <img style="width: 100%" class="imgsProgram" src="../../assets/program-quinta-03.PNG"/>

        <img style="width: 100%" class="imgsProgram" src="../../assets/program-sexta-seq-semana.PNG"/>


  <!-- <ion-slides scrollbar="true" [options]="slideOpts">

    <ion-slide>
      
      <ion-card padding>

        <ion-card-header>
          <ion-title>Sábado</ion-title>
        </ion-card-header>

        <ion-card-content>
          8:00/12:00
        </ion-card-content>
        
        <ion-card-content>
          14:00/18:00
        </ion-card-content>

        <ion-card-content>
          19:00/22:00
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card padding>

        <ion-card-header>
          <ion-title>Domingo</ion-title>
        </ion-card-header>

        <ion-card-content>
          8:00/12:00
        </ion-card-content>
        
        <ion-card-content>
          14:00/18:00
        </ion-card-content>

        <ion-card-content>
          19:00/22:00
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card padding>

        <ion-card-header>
          <ion-title>Segunda Feira</ion-title>
        </ion-card-header>

        <ion-card-content>
          8:00/12:00
        </ion-card-content>
        
        <ion-card-content>
          14:00/18:00
        </ion-card-content>

        <ion-card-content>
          19:00/22:00
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card padding>

        <ion-card-header>
          <ion-title>Terça Feira</ion-title>
        </ion-card-header>

        <ion-card-content>
          8:00/12:00
        </ion-card-content>
        
        <ion-card-content>
          14:00/18:00
        </ion-card-content>

        <ion-card-content>
          19:00/22:00
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card padding>

        <ion-card-header>
          <ion-title>Quarta Feira</ion-title>
        </ion-card-header>

        <ion-card-content>
          8:00/12:00
        </ion-card-content>
        
        <ion-card-content>
          14:00/18:00
        </ion-card-content>

        <ion-card-content>
          19:00/22:00
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card padding>

        <ion-card-header>
          <ion-title>Quinta Feira</ion-title>
        </ion-card-header>

        <ion-card-content>
          8:00/12:00
        </ion-card-content>
        
        <ion-card-content>
          14:00/18:00
        </ion-card-content>

        <ion-card-content>
          19:00/22:00
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card padding>

        <ion-card-header>
          <ion-title>Sexta Feira</ion-title>
        </ion-card-header>

        <ion-card-content>
          8:00/12:00
        </ion-card-content>
        
        <ion-card-content>
          14:00/18:00
        </ion-card-content>

        <ion-card-content>
          19:00/22:00
        </ion-card-content>

      </ion-card>

    </ion-slide>

  </ion-slides> -->

</ion-content>
