// Buttons
.square{
    --border-radius: 0%;
    --padding-start: 20px;
    --padding-end: 20px;
}

p{
    text-align: justify;
}

// Padding
.pd-top-0{
    padding-top: 0px;
}
.pd-top-5{
    padding-top: 5px;
}
.pd-top-15{
    padding-top: 15px;
}
.pd-top-50{
    padding-top: 50px;
}
// Font Size
.small{
    font-size: small;
}
// Font Size
.small{
    font-size: small;
}
