<ion-header>

  <ion-toolbar>  
    
    <ion-row>

      <ion-col size="4">
        <ion-button float-left size="small" color="secondary" (click)="goMain()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      
      <ion-col class="pd-top-15 small" size="4" text-center>
        INSCRIÇÕES
      </ion-col>

      <ion-col size="4">
      </ion-col>

    </ion-row>
        
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list class="mainBody">
      <ion-item class="movieComp" *ngFor='let Oficinas of todo$oficinas | async '>
            <ion-avatar slot="start">
                <img src="../assets/ThumbMovie.jpg"/>
            </ion-avatar>
              <ion-label><strong>{{Oficinas.nome}}</strong></ion-label>
              {{Oficinas.data}} - {{Oficinas.horario}}
              {{Oficinas.local}}
              <ion-button color="danger"><ion-icon name="close-circle"></ion-icon></ion-button>
      </ion-item>
    </ion-list>
</ion-content>
