ion-toolbar{
    --background: #990033;
}
ion-title h3{
    text-align: center;
    color: #fff;

}
// Buttons
.square{
    --border-radius: 0%;
    --padding-start: 20px;
    --padding-end: 20px;
}
// Padding
.pd-top-5{
    padding-top: 5px;
}
.pd-top-15{
    padding-top: 15px;
}
.pd-top-50{
    padding-top: 50px;
}
// Font Size
.small{
    font-size: small;
}
// Font Size
.small{
    font-size: small;
}
